.Button {
  display: block;
  cursor: pointer;
  outline: none;
  border: none;
  height: 30px;
  width: 150px;
  border-radius: 25px;
  color: #000;
  text-transform: uppercase;
  background-color: rgba(71, 228 ,194, 1.0);
  transition: all 1s ease-out;
}

.Button:hover {
  background-color: rgb(0, 255, 200);
  transform: scale(1.025);
}

.Button:active {
  background-color: rgba(255,255,255,1.0);
  color: #000;
  outline: none;
  animation: buttonActive 150ms ease-in-out;
}

@keyframes buttonActive {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}